.App {
  background-color: aquamarine;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  text-align: left;
}


.del {
  background-color: lightcoral;
  margin-left: 20px;
}
